<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SFC Create Order API</title>
</head>
<body>

<h4>SFC Create Order API</h4>

<form action="/create_order" method=post>
    {% if res %}
        <h5>{{ res }}</h5>
    {% endif %}
    {{ form_master.csrf_token }}
    <div>
        <h4>Order info:</h4>
        <table>
            <thead>
            <tr>
                <th>Field Name</th>
                <th>Field Value</th>
            </tr>
            </thead>
            <tbody>
            {% for field in form_master %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    <div>#}
{#        <h4>Order details:</h4>#}
{#        <table>#}
{#            <thead>#}
{#            <tr>#}
{#                {% for field in form_master.details[0] %}#}
{#                    <th>{{ field.label }}</th>#}
{#                {% endfor %}#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for d in form_master.details %}#}
{#                <tr>#}
{#                    {% for field in d %}#}
{#                        <td>{{ field.data }}</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}


    <input type="submit" title="Create">
</form>

</body>
</html>